@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

section
{
  display: flex;
  flex-direction: row;
}

div{
  margin: 5px;
	background:#d3d3d3;
	text-align: center;
  font-size: 1.5em;
  flex: 1;
}

